.container {
    padding: 20px;
    margin-top: -50px;
}
.cart {
    padding: 20px;
    height: 600px;
    border: 2px solid black;
    padding: 20px;
    margin-bottom: 30px;
    padding-left: 200px;
  }
  
  .carttable {
    display: grid;
    grid-template-columns: 2fr 1fr ;
    grid-gap: 10px;
    margin-top: 20px;
    
    
  }
  
  .cart-table-header {
    font-weight: bold;
    display: contents; /* Ensures the header spans the whole grid */
  }
  
  .cart-table-header span {
    text-align: left;
    font-size: 25px;
  }
  
  .cart-table-body {
    display: contents; /* Allows for dynamic rows */
  }
  
  .cart-table-row {
    display: contents; /* Each row will be a part of the grid */
    
  }
  
  .cart-table-row span {
    padding: 8px;
  }
  
  
  
  
  
  .total {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .links {
    color: black;
    width: 50px;
    text-decoration: none;
    padding: 0.5rem 1rem;  /* Adds padding inside the links */
    border-radius: 12px;  /* Border radius applied to each link */
    border: 2px solid black;  /* Adds a black border around each individual link */
    transition: background-color 0.3s;  /* Optional: for smooth background color transitions */
  }
  
  .pay-button {
    color: black;
    width: 50px;
    text-decoration: none;
    text-align: center;
    padding: 0.5rem 3rem;  /* Adds padding inside the button */
    border-radius: 12px;  /* Border radius applied to each button */
    border: 2px solid black;  /* Adds a black border around the button */
    transition: background-color 0.3s;  /* Optional: for smooth background color transitions */
    
    /* Flexbox settings for centering the text */
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  
  